<!DOCTYPE html>
<html lang="fa-ir">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#2e8640" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#2e8640" />
    <meta name="apple-mobile-web-app-status-bar" content="#2e8640" />
    <!-- <link
      rel="apple-touch-icon"
      href="/static/pwa_files/images/icons/icon-96x96.png"
    />
    <link
      rel="shortcut icon"
      href="/static/template/favicon.ico"
      type="image/x-icon"
    /> -->
    <link rel="stylesheet" href="/static/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/layout.css?7" />
    <link rel="manifest" href="/static/pwa_files/manifest.json" />
    {% if not quiz %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-162211474-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-162211474-1");
    </script>
    {% endif %}
    <meta name="samandehi" content="369538947" />
    {% block styles %}{% endblock %}
    <title>فول استک</title>
  </head>
  <body>
    <nav class="cs-nav py-3 navbar navbar-expand-lg navbar-light">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#sm_mobile_nav"
          aria-controls="sm_mobile_nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="nv-logo fStack" href="/">
          <!-- <img src="../static/template/goldis-logo-horizontal.png" /> -->
          فــول <span>استکـــ</span>
        </a>
        <div class="collapse navbar-collapse" id="sm_mobile_nav">
          <ul class="navbar-nav ml-auto mr-auto p-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">صفحه اصلی</a>
            </li>
            <!-- <li class="nav-item active">
              <a class="nav-link" href="/">دوره ها</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/landing-page">درباره ما</a>
            </li>
          </ul>
        </div>
        <div class="nv-user">
          {% if user %}
          <div class="dropdown">
            <button
              class="btn btn-outline-primary dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-user"></i>
              <span>{{user.full_name}}</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/profile"
                ><i class="far fa-user"></i> حساب کاربری</a
              >
              {% if user.user_type == -2 %}
              <a class="dropdown-item" href="/dm-users"
                ><i class="far fa-address-card"></i>پنل ادمین</a
              >
              {% endif %}
              <a class="dropdown-item" href="/my-courses"
                ><i class="far fa-chalkboard-teacher"></i> دوره‌های من</a
              >
              <a class="dropdown-item" href="/logout"
                ><i class="far fa-sign-out"></i> خروج</a
              >
            </div>
          </div>
          <div class="v-divider"></div>
          <div class="dropdown shopping-cart">
            <button
              class="btn btn-outline-primary dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="far fa-bell"></i>
              {% if user.cart_items %}
              <div class="cart-items-count">{{user.cart_items|length}}</div>
              {% endif %}
            </button>
            <div class="dropdown-menu">
              {% if user.cart_items %} {% for cart_item in user.cart_items %}
              <div class="cart-item">
                {{cart_item.title}}
                <a href="/remove_from_cart/course_id={{cart_item.id}}"
                  ><i class="far fa-trash-alt"></i
                ></a>
              </div>
              {% endfor %}
              <a class="dropdown-item text-center" href="#">پرداخت</a>
              {% else %}
              <div class="empty-cart">
                هیچ دوره‌ای در سبد خرید شما وجود ندارد.
              </div>
              {% endif %}
            </div>
          </div>
          {% else %}
          <a href="/login" class="btn btn-outline-primary">
            <i class="fas fa-user"></i>
            ورود
          </a>
          {% endif %}
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="pt-3" style="background-color: #fff">
      <div class="container">
        {% for category, message in messages %}
        <div
          class="alert alert-{{category}} {% if category == 'danger' %}animated shake{% endif %} alert-dismissible fade show"
          role="alert"
        >
          {{message}}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %} {% endwith %} {% block content %}{% endblock %} {% if db_number
    == 0 %}
    <div class="beta_ribbon">تستی</div>
    {% endif %}
    <footer class="footer">
      <div class="container">
        <div class="footer-links">
          <!-- <a href="/" class="footer-logo"
            ><img
              src="/static/template/samah_logo_white.png"
              alt="نماد و لوگوی سماح"
          /></a>
          <a href="http://tahzib.ismc.ir/" class="footer-logo"
            ><img
              src="/static/template/tahzib_logo.png"
              alt="نماد و لوگوی معاونت تهذیب"
          /></a> -->
          <p style="font-size: 26px; font-weight: 600" class="footer-logo">
            فــول <span>استکــ</span>
          </p>
          <a href="/" class="footer-link-first">خانه</a>
          <a href="/landing-page">درباره ما</a>
          <!-- <a href="/news">اخبار</a> -->
        </div>
        <!-- <div class="footer-second-row text-center">
          <div class="legal-notes">
          </div>
        </div> -->
      </div>
    </footer>
    <div id="ut" style="display: none">{{user.user_type}}</div>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main.js?3"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
