<!DOCTYPE html>
<html lang="fa-ir">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#2e8640" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#2e8640" />
    <link
      rel="shortcut icon"
      href="/static/template/loggo.jpg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/css/fontawesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/login.css?5" />
    {% block styles %}{% endblock %}
    <title>فول استک - ورود</title>
    <style>
      #passwordError {
        text-align: right;
        margin: 0 15px 12px;
        color: gray;
      }
    </style>
  </head>
  <body>
    {% import 'login-fields-macro.html' as mcr_inputs %}
    <div class="login-header">
      <a class="fStack" href="/">
        فــول <span>استکـــ</span>
        <!-- <img
          src="../static/template/goldis-logo-horizontal.png"
          style="width: 200px; height: 80px"
        /> -->
      </a>
      <div class="login-errors">
        <div class="flash">
          {% if request.args.get('status') == 'user_not_found' %}
          <div class="flash-message fm-danger">
            کاربری با این مشخصات وجود ندارد.
          </div>
          {% elif request.args.get('status') == 'incorrect_password' %}
          <div class="flash-message fm-danger">رمز عبور صحیح نمی باشد.</div>
          {% elif request.args.get('status') == 'email_already_exist' %}
          <div class="flash-message fm-danger">
            با این ایمیل قبلاً ثبت نام نموده اید.
          </div>
          {% elif request.args.get('status') == 'email_isnt_valid' %}
          <div class="flash-message fm-danger">آدرس ایمیل صحیح نمی‌باشد.</div>
          {% elif request.args.get('status') == 'mobile_already_exist' %}
          <div class="flash-message fm-danger">
            با این شماره موبایل قبلاً ثبت نام نموده اید.
          </div>
          {% elif request.args.get('status') == 'mobile_isnt_valid' %}
          <div class="flash-message fm-danger">شماره موبایل صحیح نمی‌باشد.</div>
          {% elif request.args.get('status') == 'mobile_is_not_entered' or
          request.args.get('status') == 'rp_mobile_is_not_entered'%}
          <div class="flash-message fm-danger">
            ابتدا شماره تلفن خود را وارد نمائید.
          </div>
          {% elif request.args.get('status') == 'user_is_not_registered' %}
          <div class="flash-message fm-danger">
            برای ثبت نام ابتدا شماره تلفن خود را وارد نمائید.
          </div>
          {% elif request.args.get('status') == 'password_isnt_valid' %}
          <div class="flash-message fm-danger">
            کلمه عبور قابل قبول نمی‌باشد.
          </div>
          {% elif request.args.get('status') == 'full_name_is_empty' %}
          <div class="flash-message fm-danger">
            لطفاً نام کامل خود را وارد نمایید.
          </div>
          {% elif request.args.get('status') == 'username_already_exist' %}
          <div class="flash-message fm-danger">
            این نام کاربری قبلاً استفاده شده است.
          </div>
          {% elif request.args.get('status') == 'email_sent'%}
          <div class="flash-message fm-info">
            لینک بازنشانی کلمه عبور برای شما ایمیل شد.
          </div>
          {% elif request.args.get('status') ==
          'password_successfully_changed'%}
          <div class="flash-message fm-info">
            رمزعبور شما با موفقیت تغییر یافت.
          </div>
          {% elif request.args.get('status') == 'registering_code_sent' or
          request.args.get('status') == rp_registering_code_sent%}
          <div class="flash-message fm-info">
            پین کد 5 رقمی ارسال شده را وارد کنید.
          </div>
          {% elif request.args.get('status') == 'registering_code_incorrect' or
          request.args.get('status') == 'rp_registering_code_incorrect'%}
          <div class="flash-message fm-danger">پین وارد شده صحیح نمی باشد.</div>
          {% elif request.args.get('status') == 'registering_code_correct' or
          request.args.get('status') == 'rp_registering_code_correct'%}
          <div class="flash-message fm-info">اطلاعات خود را تکمیل کنید</div>
          {% elif request.args.get('status') == 'flash' %}
          <div class="flash-message fm-info">{{ message|safe }}</div>
          {% endif %}
        </div>
        <div class="flash">
          <div class="flash-message fm-danger collapse" id="glogin_error">
            خطای غیر منتظره‌ای رخ داد. لطفاً با پشتیبانی تماس بگیرید.
          </div>
          <div class="flash-message fm-success collapse" id="glogin_welcome">
            <span></span> عزیز، به دوتست خوش آمدید!
          </div>
          <div class="flash-message fm-info collapse" id="glogin_signup">
            حساب گوگل شما در دوتست ثبت نشده است. تا لحظاتی دیگر به صفحه ثبت نام
            هدایت خواهید شد.
          </div>
        </div>
      </div>
    </div>
    <div class="login-panel-wrapper">
      <div class="login-panel">
        {% include 'spinner.html' %}
        <div
          class="login-body {% if request.args.get('status') == 'registering_code_sent' or request.args.get('status') == 'registering_code_incorrect' %}expand3{% endif %}"
        >
          <div id="mobile_buttons">
            <div
              id="mb_login"
              class="{% if request.args.get('status') != 'registering_code_sent' and request.args.get('status') != 'registering_code_incorrect' and request.args.get('status') != 'registering_code_correct' and request.args.get('status') != 'rp_registering_code_sent' and request.args.get('status') != 'rp_registering_code_correct' and request.args.get('status') != 'rp_registering_code_incorrect'%}active{% endif %}"
            >
              ورود
            </div>
            <div id="mb_signup">ثبت نام</div>
          </div>
          <form
            id="login_form"
            action="/login-post"
            class="{% if request.args.get('status') == 'registering_code_sent' or request.args.get('status') == 'registering_code_correct' or request.args.get('status') == 'registering_code_incorrect' or request.args.get('status') == 'rp_registering_code_sent' or request.args.get('status') == 'rp_registering_code_correct' or request.args.get('status') == 'rp_registering_code_incorrect'%}collapse{% else %}active{% endif %}"
            method="post"
          >
            {{ mcr_inputs.input('mobile', section='lg', required=true)}} {{
            mcr_inputs.input('password', section='lg', required=true)}}
            <!-- <i class="fas fa-eye"></i> -->
            <!-- <input type="checkbox" onclick="myFunction()" />نمایش کلمه عبور -->
            <div class="form-footer">
              <button class="button solid-green" type="button">ورود</button>
              <div class="forgotten-password">
                کلمه عبور را فراموش کرده‌اید؟
              </div>
            </div>
          </form>
          {% if request.args.get('status') != 'registering_code_correct' or
          request.args.get('status') == 'mobile_is_not_entered' or
          request.args.get('status') != 'registering_code_incorrect' or
          request.args.get('status') == 'user_is_not_registered' %}
          <form
            id="signup_form"
            action="/signup-post?step=1"
            class="{% if request.args.get('status') == 'registering_code_sent' or request.args.get('status') == 'registering_code_correct' or request.args.get('status') == 'registering_code_incorrect' or request.args.get('status') == 'rp_registering_code_sent' or request.args.get('status') == 'rp_registering_code_correct' or request.args.get('status') == 'rp_registering_code_incorrect'%}collapse{% else %}active{% endif %}"
            method="post"
          >
            <!-- {{ mcr_inputs.input('fullname', required=true)}}  -->
            {{ mcr_inputs.input('mobile', required=true)}}
            <!-- {{mcr_inputs.input('password', section='sg', required=true)}} -->
            <div class="form-footer">
              <a
                ><button class="button solid-blue" type="button">
                  ارسال کد
                </button></a
              >
            </div>
          </form>
          {% endif %} {% if request.args.get('status') ==
          'registering_code_sent' or request.args.get('status') ==
          'registering_code_incorrect'%}
          <form
            style="margin-top: 20px"
            id="signup_form_2"
            action="/signup-post?step=2"
            class="{% if request.args.get('status') == 'registering_code_correct' %}collapse{% else %}active{% endif %}"
            method="post"
          >
            <!-- {{ mcr_inputs.input('fullname', required=true)}}  -->
            <!-- {{ mcr_inputs.input('mobile', required=true)}} -->
            <!-- {{mcr_inputs.input('password', section='sg', required=true)}} -->
            <!-- {{ mcr_inputs.input('registering_code', required=true)}} -->
            <input
              class="rcInput"
              type="text"
              name="registering_code"
              required="true"
              placeholder="پین ارسالی وارد نمائید"
              maxlength="5"
              minlength="5"
            />
            <div class="form-footer">
              <button class="button solid-blue" type="button">تائید کد</button>
            </div>
          </form>
          {% endif %} {% if request.args.get('status') ==
          'registering_code_correct'%}
          <form
            style="margin-top: 20px"
            id="signup_form_3"
            action="/signup-post?step=3"
            class="{% if request.args.get('status') == 'registering_code_correct'%} active {% endif %}"
            method="post"
          >
            {{ mcr_inputs.input('fullname', required=true)}} {{
            mcr_inputs.input('password', section='sg', required=true)}}
            <!-- <input
              class="rcInput"
              type="text"
              name="password"
              required="true"
              placeholder="رمزعبور خود را وارد کنید."
              maxlength="6"
              minlength="6"
            /> -->
            <div class="form-footer">
              <button class="button solid-blue" type="button">
                ثبت اطلاعات
              </button>
            </div>
          </form>
          {% endif %}
          <form
            id="reset_form"
            action="/reset-password?step=1"
            style="display: none"
            method="post"
          >
            <p class="subtle" style="text-align: right; margin: 0 15px 12px">
              برای بازنشانی کلمه عبور، شماره موبایلی که با آن ثبت نام کرده‌اید
              را وارد نمایید.
            </p>
            <input
              class="rcInput"
              type="text"
              name="rp_mobile"
              required="true"
              placeholder="شماره موبایل"
              maxlength="11"
              minlength="11"
            />
            <div class="form-footer">
              <button class="button solid-purple" type="button">
                دریافت پین
              </button>
            </div>
          </form>
          {% if request.args.get('status') == 'rp_registering_code_sent' or
          request.args.get('status') == 'rp_registering_code_incorrect' %}
          <form
            id="reset_form_2"
            action="/reset-password?step=2"
            class="{% if request.args.get('status') == 'rp_registering_code_correct' %}collapse{% else %}active{% endif %}"
            method="post"
          >
            <p class="subtle" style="text-align: right; margin: 0 15px 12px">
              کد 5 رقمی ارسال شده را وارد نمائید.
            </p>
            <input
              class="rcInput"
              type="text"
              name="rp_registering_code"
              required="true"
              placeholder="پین ارسالی وارد نمائید"
              maxlength="5"
              minlength="5"
            />
            <div class="form-footer">
              <button class="button solid-purple" type="button">ثبت پین</button>
            </div>
          </form>
          {% endif %} {% if request.args.get('status') ==
          'rp_registering_code_correct'%}
          <form
            id="reset_form_3"
            action="/reset-password?step=3"
            class="active"
            method="post"
          >
            <p id="passwordError" class="subtle">
              رمز عبور جدید خود را وارد نمائید.
            </p>
            {#{{ mcr_inputs.input('password', required=true)}}#}
            {#{{mcr_inputs.input('new_password_repeat', required=true)}}#}
            <input
              style="margin-bottom: 15px"
              class="rcInput"
              type="password"
              id="firstPass"
              name="rp_password"
              required="true"
              placeholder="رمز عبور"
              minlength="6"
            />
            <input
              class="rcInput"
              type="password"
              id="secondPass"
              name="rp_password_repeat"
              required="true"
              placeholder="تکرار رمز عبور"
              minlength="6"
            />
            <div class="form-footer">
              <button
                onclick="passCheck()"
                id="checkButt"
                class="button solid-purple"
                type="button"
              >
                ثبت رمز عبور
              </button>
            </div>
          </form>
          {% endif%}
        </div>
      </div>
    </div>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/login.js?5"></script>
  </body>
</html>
