{% extends "layout.html" %} {% block content %} {% if user_notifications %}
<div class="d-flex justify-content-center my-5 noifTitle">اطلاعیه های شما</div>
{% for notif in user_notifications %}
<div class="container">
  <a
    style="display: block; text-decoration: none"
    href="/notifications/notification_{{notif.id}}"
  >
    <div class="card notifCard">
      {% set date, time = notif.jalali_datetime.split(' ') %}
      <span>{{time}} - {{date}}</span>
      <p class="notifText notifText2">
        متن اطلاعیه: {{notif.notification_text}}
      </p>
    </div>
  </a>
</div>
{% endfor %} {% else %}
<div class="card notifCard">
  <div class="notifText">اطلاعیه ای</div>
</div>
{% endif %} {% endblock %}
