.ltr {
  direction: ltr;
}
.sb-tabs {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #e0e0e0;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
}
.square-button {
  color: #757575;
  display: inline-block;
  width: 80px;
  text-align: center;
  padding: 10px 5px;
  transition: color 0.2s, background-color 0.2s;
  margin-left: -3px;
  background-color: #fff;
}
.square-button:hover,
.square-button.active {
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
}
.square-button:last-child {
  border-left: none;
  margin-left: 0;
}
.hb-icon {
  margin-bottom: 5px;
  font-size: 17px;
}
.cp-main-container {
  min-height: 200px;
}
.form-step label {
  margin-bottom: 0;
}
.form-step {
  margin-bottom: 15px;
}
.dm-submit {
  width: 140px;
  margin: auto;
  display: block;
}
.fa-cog,
.fa-trash-alt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.warningTitle {
  font-size: 20px;
  font-weight: 800;
}
