.banner {
  /* background-color: #38338e; */
  margin-bottom: 15px;
  height: 600px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.banner::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: rgb(0 6 255 / 0.5); */
  z-index: 1;
}
.banner .banner-text-container {
  z-index: 1;
  position: relative;
  padding-top: 90px;
}
.banner img {
  object-fit: contain;
  width: 70%;
  height: 600px;
}
/* .banner h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0 0 15px #001428;
  color: #fff;
} */
.banner p {
  font-size: 22px;
  text-shadow: 1px 1px 0 #001428;
  color: #eee;
  text-align: center;
}
.banner i {
  font-size: 16px;
  display: block;
  margin-top: 16px;
}
@media (min-width: 1200px) {
  .banner video {
    bottom: -320px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .banner video {
    bottom: -200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .banner video {
    bottom: -70px;
  }
}
@media (max-width: 580px) {
  .banner video {
    height: 100%;
    width: auto;
  }
  .banner h2 {
    font-size: 28px;
  }
  .banner .banner-text-container {
    padding-top: 70px;
  }
}
.anc-text {
  position: relative;
  min-height: 80px;
  overflow: auto;
  max-height: 184px;
  margin-left: -5px;
  padding-left: 5px;
  padding-bottom: 1px;
}
.anc-row {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
  padding-bottom: 7px;
  text-indent: -12px;
  padding-right: 25px;
}
.anc-row:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.anc-row i {
  vertical-align: middle;
  color: #292929;
  margin-left: 6px;
}

.cmp-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 15px 15px;
  margin-bottom: 20px;
  overflow: hidden;
}
.crd-image {
  background-position: center;
  background-size: cover;
  margin: -15px -15px 0 -15px;
  height: 124px;
  position: relative;
}
.inst-image {
  width: 62px;
  height: 62px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 2px;
}
.inst-image .inner-wrapper {
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
}
.inst-image img {
  width: 100%;
}
.crd-header {
  background-color: #ffffff;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.03) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.03) 50%,
    rgba(0, 0, 0, 0.03) 75%,
    transparent 75%,
    transparent
  );
  background-size: 2rem 2rem;
  height: 60px;
  color: #38338e;
  position: relative;
  margin: 0 -15px 15px;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
}
.crd-row {
  width: 60px;
  height: 60px;
  background-color: #f3f3f3;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  padding-top: 14px;
  flex-shrink: 0;
}
.crd-title {
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.4;
  text-align: justify;
  font-weight: 800;
  margin: auto;
}
.crd-detail {
  font-weight: 600;
  margin-bottom: 5px;
}
.crd-detail > span:first-child {
  display: inline-block;
  min-width: 100px;
  color: #6d6d6d;
  font-weight: 400;
}
.progress-container {
  width: calc(100% - 100px);
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}

.cmp-card.inactive .crd-detail {
  color: #6d6d6d;
}
.cmp-card.inactive .crd-header {
  color: #989898;
}
@media screen and (max-width: 768px) {
  .banner {
    height: 400px;
  }
  .banner img {
    width: 90%;
    height: 400px;
  }
}
