<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>نوع کاربر</th>
        <th>نام کاربر</th>
        <th>موبایل</th>
        <th>تنظیمات</th>
      </tr>
    </thead>
    {% if users %}{% for user in users%}
    <tr id="user_container" data-id="{{users}}">
      <td>{{(loop.index)}}</td>
      <td>
        {% if user.user_type == -2 %}ادمین{% elif user.user_type == -1
        %}سازمان/گروه{% else %}عادی{% endif %}
      </td>
      <td>{{user.full_name}}</td>
      <td>{{user.mobile}}</td>
      <td>
        <a class="btn btn-success btn-sm" href="/dm-users/{{user.id}}"
          ><i class="far fa-cog"></i
        ></a>
      </td>
    </tr>
    {% endfor %}{% endif %}
  </table>
  <nav id="pagination" class="collapse"></nav>
</div>
