{% extends "data_management/dm_layout.html" %} {% set current_tab =
'course_news' %} {% block inner_content %}
<style>
  .table .btn {
    height: 27px;
  }
</style>

<form
  action="{% if course_news  %}/dm-courses_news/{{section_id}}/{{notif_id}}{% else %}/dm-courses_news{% endif %}"
  method="POST"
>
  <div class="form-row">
    <div class="form-group col-12">
      <label>صفحه اخبار</label>
      <select id="secion_options" name="section_options">
        <option value="home_page">صفحه اصلی</option>
        {% if all_courses %} {% for course in all_courses %}
        <option value="{{course.id}}">{{course.title}}</option>
        {% endfor %} {% endif %}
      </select>
    </div>
    <!-- <div class="form-group col-12">
      <label><span style="color: red"> * </span>نوع خبر</label>
      <input
        id="esse1"
        onkeyup="success()"
        class="form-control"
        type="text"
        name="course_news_type"
        value="{% if course_news  %}{{course_news.course_news_type}}{% endif %}"
      />
    </div> -->
    <div class="form-group col-12">
      <label><span style="color: red"> * </span>متن خبر</label>
      <textarea
        id="esse2"
        onkeyup="success()"
        class="form-control"
        name="course_news_text"
        rows="3"
      >
{% if course_news  %}{{course_news.course_news_text}}{% endif %}</textarea
      >
    </div>
  </div>
  <button
    disabled
    id="submitbtn"
    class="btn btn-success dm-submit"
    type="submit"
  >
    ثبت
  </button>
</form>
{% if course and course.title != 'home_page' %}
<p class="mt-5 mb-3 warningTitle d-flex justify-content-center">اخبار {{course.title}}</p>
{% else %}
<p class="mt-5 mb-3 warningTitle d-flex justify-content-center">اخبار تمام صفحات</p>
{% endif %}
<div class="table-responsive mt-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>متن خبر</th>
        <!-- <th>نوع خبر</th> -->
        <!-- <th>صفحه خبر</th> -->
        <th>تاریخ خبر</th>
        <th>ساعت خبر</th>
        <th>ویرایش</th>
        <th>حذف</th>
      </tr>
    </thead>

    {% if courses_news %} {% for notif in courses_news %}
    <tr>
      <td>{{notif.course_news_text}}</td>
      <!-- <td>{{notif.course_news_type}}</td> -->
      <!-- <td>{{title}}</td> -->
      {% set date, time = notif.jalali_datetime.split(' ') %}
      <td>{{ date }}</td>
      <td>{{ time }}</td>
      <td>
        <a class="btn btn-success btn-sm" href="/dm-courses_news/{{notif.section_id}}/{{notif.id}}">
          <i class="far fa-cog"></i>
        </a>
      </td>
      <td>
        <a class="delNotif btn btn-warning btn-sm" {% for attr in notif if attr not in ["description","body_html","welcome_text"]%}data-{{attr}}="{{notif[attr]}}" {% endfor %} >
          <i class="far fa-trash-alt"></i>
        </a>
      </td>
    </tr>
    {% endfor %} {% endif %}
  </table>
</div>
<div class="modal" tabindex="-1" role="dialog" id="delete_course">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">حذف خبر</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="course-details-wrapper">
          <p class="titleNotif"></p>
          <a
            class="btn btn-warning"
            hf="/dm-delete-course_news/"
            href="#"
            >حذف</a
          >
          <button class="btn mx-3" data-dismiss="modal">لغو</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% if not courses_news %}
<div class="fw-bolder d-flex justify-content-center">هیچ موردی برای نمایش وجود ندارد.</div>
{% endif %} {% endblock %} {% block scripts %}
<script>
  function success() {
    if (
      // document.getElementById("esse1").value === "" ||
      document.getElementById("esse2").value === ""
    ) {
      document.getElementById("submitbtn").disabled = true;
    } else {
      document.getElementById("submitbtn").disabled = false;
    }
  }
  $(function () {
    $(".delNotif").click(function () {
      var notif = $(this).data();
      $("#delete_course .titleNotif").text(notif.course_news_text);
      $("#delete_course a").each(function () {
        $(this).attr("href", $(this).attr("hf") + notif.section_id + "/" + notif.id);
      });
      $("#delete_course").modal("show");
    });
  });
</script>
{% endblock%}
