{% extends "data_management/dm_layout.html" %}
{% set current_tab = 'glance' %}
{% block inner_content %}
<form action="/dm-copy-course/{{course_id}}" method="POST">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-step">
                <label>db_number:</label>
                <input class="form-control" type="text" name="db_number" >
            </div>
        </div>
    </div>
    <button class="btn btn-success dm-submit">ثبت</button>
</form>
{% endblock %}