{% extends "data_management/dm_layout.html" %}
{% set current_tab = 'courses' %}
{% block inner_content %}

<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>disenroll_user</th>
                <th>id</th>
                <th>full_name</th>
                <th>mobile</th>
                <th>password</th>
                <th>user_type</th>
                <th>national_id</th>
                <th>auth_key</th>
                
            </tr>
        </thead>
        {% if enroll_users %}
        {% for user in enroll_users %}
        <tr>
            <td><a href="/dm-disenroll-user/{{course_id}}/{{user.id}}">disenroll_user</a></td>
            <td>{{user.id}}</td>
            <td>{{user.full_name}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.password}}</td>
            <td>{{user.user_type}}</td>
            <td>{{user.national_id}}</td>
            <td>{{user.auth_key}}</td>
            
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    
</div>
{% endblock %}