{% extends "data_management/dm_layout.html" %} {% set current_tab =
'notifications' %} {% block inner_content %}
<div class="d-flex flex-column m-4">
  <form action="/dm-notifications" method="post">
    <span>مخاطب اطلاعیه:</span>
    <input class="my-2" type="text" name="mobile" placeholder="شماره موبایل" />
    <div>متن اطلاعیه</div>
    <textarea
      rows="4"
      class="form-control my-2"
      name="notification_text"
      placeholder="چیزی بنویسید"
    ></textarea>
    <button style="width: 100px" class="btn btn-success" type="submit">
      ثبت
    </button>
  </form>
</div>

<p class="mt-5 mb-5 warningTitle d-flex justify-content-center">
  لیست اطلاعیه ها
</p>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>نام</th>
        <th>موبایل</th>
        <th>تاریخ</th>
        <th>متن اطلاعیه</th>
      </tr>
    </thead>
    <tbody>
      {% for notif in all_notifications %}
      <tr>
        <td></td>
        <td>{{notif.full_name}}</td>
        <td>{{notif.mobile}}</td>
        {% set date,time = notif.jalali_date.split(' ') %}
        <td>{{date}}</td>
        <td>{{notif.notification_text}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
