{% extends "data_management/dm_layout.html" %} {% set current_tab =
'notifications' %} {% block inner_content %}
<div class="d-flex flex-column m-4">
  <form action="/dm-notifications" method="post">
    <span>مخاطب اطلاعیه:</span>
    <input class="my-2" type="text" name="mobile" placeholder="شماره موبایل" />
    <div>متن اطلاعیه</div>
    <textarea
      rows="4"
      class="form-control my-2"
      name="notification_text"
      placeholder="چیزی بنویسید"
    ></textarea>
    <button style="width: 100px" class="btn btn-success" type="submit">
      ثبت
    </button>
  </form>
</div>
{% endblock %}
