{% extends "data_management/dm_layout.html" %}
{% set current_tab = 'notifications' %}
{% block inner_content %}
<style>.table .btn{height: 27px}</style>

    <form action="{% if notification  %}/dm-notification/{{section_id}}/{{notif_id}}{% else %}/dm-notification/{{section_id}}{% endif %}" method="POST">
        <div class="form-row">
            <div class="form-group col-12">
                <label>نوع اطلاعیه</label>
                <input class="form-control" type="text" name="notification_type" value="{% if notification  %}{{notification.notification_type}}{% endif %}">
            </div>
            <div class="form-group col-12">
                <label>اطلاعیه برای چه قسمت است؟</label>
                <select id="cars" name="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
            <div class="form-group col-12">
                <label>متن اطلاعیه</label>
                <textarea class="form-control" name="notification_text" rows="3" >{% if notification  %}{{notification.notification_text}}{% endif %}</textarea>
            </div>
        </div>
        <button class="btn btn-success dm-submit" type="submit">ثبت</button>
    </form>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>متن اطلاعیه</th>
                <th>نوع اطلاعیه</th>
                <th>تاریخ اطلاعیه</th>
                <th>ویرایش</th>
                <th>حذف</th>
            </tr>
        </thead>
        {% if notifications %}
        {% for notif in notifications %}
        <tr>
            <td>{{notif.notification_text}}</td>
            <td>{{notif.notification_type}}</td>
            <td>{{notif.jalali_date}}</td>
            <td><a class="btn btn-success btn-sm" href="/dm-notification/{{notif.section_id}}/{{notif.id}}"><i class="far fa-cog"></i></a></td>
            <td><a class="btn btn-warning" href="/dm-delete-notification/{{notif.section_id}}/{{notif.id}}"><i class='far fa-trash-alt'></i></a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}