{% extends "data_management/dm_layout.html" %} {% set current_tab =
'notifications' %} {% block inner_content %}
<style>
  .table .btn {
    height: 27px;
  }
</style>

<form
  action="{% if notification  %}/dm-notifications/{{section_id}}/{{notif_id}}{% else %}/dm-notifications{% endif %}"
  method="POST"
>
  <div class="form-row">
    <div class="form-group col-12">
      <label>صفحه اطلاعیه</label>
      <select id="secion_options" name="section_options">
        <option value="home_page">صفحه اصلی</option>
      {% if all_courses %} {% for course in all_courses %}
        <option value="{{course.id}}">{{course.title}}</option>
         {% endfor %} {% endif %}
      </select>
    </div>
    <div class="form-group col-12">
      <label>نوع اطلاعیه</label>
      <input
        id="esse1"
        onkeyup="success()"
        class="form-control"
        type="text"
        name="notification_type"
        value="{% if notification  %}{{notification.notification_type}}{% endif %}"
      />
    </div>
    <div class="form-group col-12">
      <label>متن اطلاعیه</label>
      <textarea
        id="esse2"
        onkeyup="success()"
        class="form-control"
        name="notification_text"
        rows="3"
      >
{% if notification  %}{{notification.notification_text}}{% endif %}</textarea
      >
    </div>
  </div>
  <button
    disabled
    id="submitbtn"
    class="btn btn-success dm-submit"
    type="submit"
  >
    ثبت
  </button>
</form>
{% if status %}
<div>
  اطلاعیه های صفحه مورد نظر
</div>
{% else %}
<div>
 اطلاعیه تمام صفحات
</div>
{% endif %}
<div class="table-responsive mt-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>متن اطلاعیه</th>
        <th>نوع اطلاعیه</th>
        <!-- <th>صفحه اطلاعیه</th> -->
        <th>تاریخ اطلاعیه</th>
        <th>ویرایش</th>
        <th>حذف</th>
      </tr>
    </thead>

    {% if notifications %} {% for notif in notifications %}
    <tr>
      <td>{{notif.notification_text}}</td>
      <td>{{notif.notification_type}}</td>
      <!-- <td>{{title}}</td> -->
      <td>{{notif.jalali_date}}</td>
      <td>
        <a
          class="btn btn-success btn-sm"
          href="/dm-notifications/{{notif.section_id}}/{{notif.id}}"
          ><i class="far fa-cog"></i
        ></a>
      </td>
      <td>
        <a
          data-toggle="modal"
          data-target="#delete_course"
          class="btn btn-warning"
          href="/dm-delete-notification/{{notif.section_id}}/{{notif.id}}"
        >
          <i class="far fa-trash-alt"></i>
        </a>
      </td>
    </tr>
    {% endfor %} {% endif %}

  </table>
</div>
{% for notif in notifications %}
<div class="modal" tabindex="-1" role="dialog" id="delete_course">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">حذف اطلاعیه</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="course-details-wrapper">
          <p>{{notif.notification_text}}</p>
          <a
            class="btn btn-warning"
            href="/dm-delete-notification/{{notif.section_id}}/{{notif.id}}"
            >حذف</a
          >
          <button class="btn mx-3" data-dismiss="modal">لغو</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %} 
{% if status and status == 'there_is_no_notification' %} 
  <div>
    هیچ موردی برای نمایش وجود ندارد.
  </div>
{% endif %}
{% endblock %} {% block scripts %}
<script>
  function success() {
    if (
      document.getElementById("esse1").value === "" ||
      document.getElementById("esse2").value === ""
    ) {
      document.getElementById("submitbtn").disabled = true;
    } else {
      document.getElementById("submitbtn").disabled = false;
    }
  }
</script>
{% endblock%}
