{% extends "data_management/dm_layout.html" %} {% set current_tab = 'users' %}
{% block inner_content %}
<form method="POST">
  <!-- <div class="text-left mb-3">
        <button id="submit_button" class="btn btn-success" disabled type="submit">دریافت فایل اکسل</button>
    </div> -->
  {% if user_id %}
  <input
    rows="5"
    type="hidden"
    class="form-control"
    name="auth_key"
    value="{% if user_id  %}{{update_user.auth_key}}{% endif %}"
  />
  {% endif %} {% if all_quizzes %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <!-- <th></th> -->
          <th>#</th>
          <th>نام کاربر</th>
          <th>موبایل</th>
          <!-- <th>جنسیت</th>
                    <th>سن</th>
                    <th>تحصیلات</th>
                    <th>شغل</th>
                    <th>وضعیت تاهل</th> -->
          <th>تاریخ شرکت در آزمون</th>
          <th>زمان شرکت در آزمون</th>
          <th>جواب ها</th>
        </tr>
      </thead>
      {% if registered_users %} {% for user in registered_users %}
      <tr>
        <!-- <td><input type="radio" name="mobile_chk" value="{{user.mobile}}"></td> -->
        <td>{{loop.index}}</td>
        <!-- <td><a href="/date-time-quiz-participates/{{quiz_id}}/{{user.id}}">{{user.full_name}}</a></td> -->
        <td>{{user.full_name}}</td>
        <td>{{user.mobile}}</td>
        <!-- <td>{% if user.gender %}{% if user.gender == 'male'%}مرد{% elif user.gender == 'female' %}زن{% endif %}{% endif %}</td>
                <td>{% if user.age %}{{user.age}}{% endif %}</td>
                <td>{% if user.grade %}{{user.grade}}{% endif %}</td>
                <td>{% if user.job %}{{user.job}}{% endif %}</td>
                <td>{% if user.marital_status %}{% if user.marital_status == 'single'%}مجرد{% elif user.marital_status == 'married' %}متاهل{% endif %}{% endif %}</td> -->
        <td>{% if user.jalali_date %}{{user.jalali_date}}{% endif %}</td>
        <td>{% if user.jalali_time %}{{user.jalali_time}}{% endif %}</td>
        <td>
          {% if user.user_answers %}
          <a class="delNotif btn btn-warning btn-sm" {% for attr in user if attr not in ["description","body_html","welcome_text"]%}data-{{attr}}="{{user[attr]}}" {% endfor %} >
          نمایش جواب
          </a> {% else %}
          <div>بدون جواب</div>
          {% endif %}
        </td>
      </tr>
      {% endfor %} {% endif %}
    </table>
  </div>
  {% else %}
  <div style="font-size: large">تاکنون کسی در این آزمون شرکت نکرده است</div>
  {% endif %}
  <input type="hidden" name="mobile" value="" />
</form>

<div class="modal" tabindex="-1" role="dialog" id="delete_course">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">نتیجه آزمون شما</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="course-details-wrapper">
          <p class="titleNotif"></p>
        </div>
      </div>
    </div>
  </div>
</div>
 {% endblock %} {% block scripts %}
<script>
  $("input[type=radio]").on("click", function (e) {
    checkedItems = [];
    $("input[type=radio]").each(function () {
      if ($(this).is(":checked")) checkedItems.push($(this).val());
    });
    if (checkedItems.length > 0) {
      $("[name='mobile']").val(checkedItems[0]);
      $("#submit_button").attr("disabled", false);
    } else {
      $("[name='mobile']").val("");
      $("#submit_button").attr("disabled", true);
    }
  });
  $(function () {
    $(".delNotif").click(function () {
      var notif = $(this).data();
      $("#delete_course .titleNotif").text(notif.user_answers);
      $("#delete_course a").each(function () {
        $(this).attr("href", $(this).attr("hf") + notif.section_id + "/" + notif.id);
      });
      $("#delete_course").modal("show");
    });
  });
</script>
{% endblock %}
