{% extends "data_management/dm_layout.html" %} {% set current_tab = 'news' %} {%
block inner_content %}

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        #
      </tr>
      <tr>
        نام
      </tr>
      <tr>
        موبایل
      </tr>
      <tr>
        تاریخ
      </tr>
      <tr>
        ساعت
      </tr>
      <tr>
        مبلغ
      </tr>
      <tr>
        شناسه پرداخت
      </tr>
    </thead>
    <tbody>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </tbody>
  </table>
</div>

{% endblock %}
