{% extends "data_management/dm_layout.html" %} {% set current_tab = 'news' %} {%
block inner_content %}

<!-- <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>نوع کاربر</th>
        <th>نام کاربر</th>
        <th>موبایل</th>
        <th>تنظیمات</th>
      </tr>
    </thead>
    <tr>
      <td></td>
      <td id="listing_table_user_type"></td>
      <td id="listing_table_full_name"></td>
      <td id="listing_table_mobile"></td>
      <td>
        <a><i class="far fa-cog"></i></a>
      </td>
    </tr>
    </tr>  
  </table>
</div> -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>نام</th>
        <th>موبایل</th>
        <th>تاریخ</th>
        <th>ساعت</th>
        <th>مبلغ</th>
        <th>شناسه پرداخت</th>
      </tr>
    </thead>
    <tbody>
      {{all_transactions}} {% for transactions in all_transactions %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        {% for tr in transactions.jalali_datetime.split(' ') %}
        <td>{{tr}}</td>
        {% endfor %}
        <td>{{transactions.amount}}</td>
        <td>{{transactions.fs_invoice_number}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
