{% extends "data_management/dm_layout.html" %} {% set current_tab = 'users' %}
{% block inner_content %}
<style>
  .table .btn {
    height: 27px;
  }

  .search-field {
    max-width: 150px;
    direction: ltr;
    text-align: left;
    margin: 0 auto 0 5px;
  }

  /* .dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  } */

  /* .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */
</style>
<form action="/get-user-by-mobile" method="GET" class="mb-3 d-flex">
  <button
    class="btn btn-primary btn-sm"
    type="button"
    data-toggle="collapse"
    data-target="#collapse"
  >
    ایجاد کاربر جدید
  </button>
  <!-- <input
    class="form-control search-field"
    name="mobile"
    placeholder="09xxxxxxxxx"
    type="text"
    maxlength="11"
  />
  <button class="btn btn-success btn-sm">جستجو</button> -->
</form>

<div class="collapse mb-3 {% if user_id %}d-block{% endif %}" id="collapse">
  <form
    action="{% if user_id  %}/dm-users/{{ user_id }}{% else %}/dm-users{% endif %}"
    method="POST"
  >
    <div class="form-row">
      <div class="form-group col-md-3">
        <label><span style="color: red"> * </span>نام و نام خانوادگی</label>
        <input
          id="f1"
          onkeyup="success()"
          class="form-control"
          type="text"
          placeholder="نام و نام خانوادگی"
          name="full_name"
          value="{% if user_id  %}{{update_user.full_name}}{% endif %}"
        />
      </div>
      <div class="form-group col-md-3">
        <label><span style="color: red"> * </span>شماره موبایل</label>
        <input
          id="f2"
          onkeyup="success()"
          minlength="11"
          maxlength="11"
          class="form-control"
          type="text"
          placeholder="شماره موبایل"
          name="mobile"
          value="{% if user_id  %}{{update_user.mobile}}{% endif %}"
        />
      </div>
      <!-- <div class="form-group col-md-3">
        <label><span style="color: red"> * </span>کد ملی</label>
        <input
          id="f3"
          onkeyup="success()"
          minlength="10"
          maxlength="10"
          class="form-control"
          type="text"
          placeholder="کد ملی"
          name="national_id"
          value="{% if user_id and update_user.national_id %}{{update_user.national_id}}{% endif %}"
        />
      </div> -->
      <div class="form-group col-md-3 {% if user_id %}d-none{% endif %}">
        <label><span style="color: red"> * </span>رمزعبور</label>
        <input
          id="f4"
          onkeyup="success()"
          minlength="6"
          class="form-control"
          type="password"
          placeholder="رمزعبور"
          name="password"
          value="{% if user_id  %}{{update_user.password}}{% endif %}"
        />
      </div>
      <div class="form-group col-md-3 mt-4">
        <label><span style="color: red"> * </span>نوع کاربر</label>

        <select id="f5" oninput="success()" name="user_type">
          <option value="2">عادی</option>
          <option value="-2">ادمین</option>
          <option value="-1">سازمان/گروه</option>
        </select>
      </div>
      <!-- <input
          id="f5"
          onkeyup="success()"
          class="form-control"
          type="text"
          placeholder="نوع کاربر"
          name="user_type"
          value="{% if user_id  %}{{update_user.user_type}}{% endif %}"
        /> -->

      <!-- <div  onclick="dropd()" class="dropdown">
          <input class="dropbtn">Dropdown</input>
          <div  id="ddContent" class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div> -->

      <!-- <div class="dropdown">
          <button
            type="button"
            class="btn dropdown-toggle"
            data-bs-toggle="dropdown"
          >
            نوع کاربر
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">ادمین</a></li>
            <li><a class="dropdown-item" href="#">سازمان/گروه</a></li>
            <li><a class="dropdown-item" href="#">عادی</a></li>
          </ul>
        </div> -->

      <div class="form-group col-md-4">
        {% if user_id %}
        <input
          rows="5"
          type="hidden"
          class="form-control"
          name="auth_key"
          value="{% if user_id  %}{{update_user.auth_key}}{% endif %}"
        />
        {% endif %}
      </div>
    </div>
    <button
      disabled
      id="submitbtn"
      class="btn btn-success dm-submit"
      type="submit"
    >
      ثبت
    </button>
  </form>
</div>

{% endblock %} {% block scripts %}

<script>
  $(function () {
    let pageNumber = 1;
    $("#pagination").on("click", ".page-item", function () {
      if ($(this).hasClass("active") || $(this).hasClass("disabled")) return;
      $("#user_container")
        .empty()
        .append(
          $.parseHTML(
            '<div class="busy-overlay"><div class="spinner"></div></div>'
          )
        );
      const clickedData = $(this).data("page");
      targetPage =
        clickedData !== "prev" && clickedData !== "next"
          ? clickedData
          : clickedData === "prev"
          ? pageNumber - 1
          : pageNumber + 1;
      loadComments(targetPage);
    });
    const sectionId = $("#user_container").data("id");
    const structure = [
      {
        template: "user_dynamic.html",
        data: "users",
        id: "user_container",
      },
    ];
    const loadComments = function (targetPage) {
      loadJson(
        `/json-get-dm-users?page_number=${targetPage}`,
        structure,
        function (pageStatus) {
          current_page = pageStatus.current_page;
          pageNumber = current_page;
          pages_count = pageStatus.pages_count;
          $("#pagination").empty().addClass("collapse");
          if (pages_count > 1) {
            let pagination = '<ul class="pagination justify-content-center">';
            pagination += `<li class="page-item ${
              current_page === 1 ? "disabled" : ""
            }" data-page="prev"><span class="page-link">قبلی</span></li>`;
            const dummy = [...Array(pages_count).keys()].map(
              (item) =>
                (pagination += `<li class="page-item ${
                  current_page === item + 1 ? "active" : ""
                }" data-page="${item + 1}"><span class="page-link">${
                  item + 1
                }</span></li>`)
            );
            pagination += `<li class="page-item ${
              current_page === pages_count ? "disabled" : ""
            }" data-page="next"><span class="page-link">بعدی</span></li>`;
            $("#pagination")
              .append($.parseHTML(pagination))
              .removeClass("collapse");
          }
        }
      );
    };
    loadComments(1);
  });

  function success() {
    if (
      document.getElementById("f1").value === "" ||
      document.getElementById("f2").value === "" ||
      // document.getElementById("f3").value === "" ||
      document.getElementById("f4").value === "" ||
      document.getElementById("f4").value === "" ||
      document.getElementById("f5").value === ""
    ) {
      document.getElementById("submitbtn").disabled = true;
    } else {
      document.getElementById("submitbtn").disabled = false;
    }
  }
  function dropd() {
    let x = document.getElementById("ddContent");
    if ((x.style.display = "inline-block")) {
      x.style.display = "block";
    } else {
      x.style.display = "inline-block";
    }
  }
</script>
{% endblock %}
